/* color
#0a043c
#03506f
#A3DDCB
#FFE3DE
*/


* {
    margin: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  .container {
      background-color: black;
      min-height: calc(100vh - 50px);
  }

  .movie-list-item-title {
    color: #FFE3DE;
}

  .content-container {
      margin-left: 50px;
  }

  .featured-content {
    height: 50vh;
    padding: 50px;
    color: #FFE3DE;
  }

  .featured-title {
    font-size: 70px;
  }

  .featured-desc {
      width: 500px;
      margin: 30px 0;
  }

  .featured-button {
      background-color: #A3DDCB;
      color: #0a043c;
      padding: 15px 25px;
      border-radius: 20px;
      border: none;
      outline: none;
      font-weight: bold;
      cursor: pointer;
  }

  .movie-list-container {
      padding: 0 20px;     
  }

  .movie-list-wrapper {
      position: relative;
      overflow: hidden;
  }

  .movie-list {
      display: flex;
      align-items: center;
      height: 300px;
      transform: translateX(0);
      transition: all 1s ease-in-out;
  }

  .movie-list-item {
      margin-right: 30px;
      position: relative;
  }

  .movie-list-item:hover .movie-list-item-img {
      transform: scale(1.2);
      margin: 0 30px;  
      opacity: 0.5;
  }

  .movie-list-item:hover .movie-list-item-title, 
  .movie-list-item:hover .movie-list-item-desc, 
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }

  .movie-list-item-img {
      transition: all 0.5s ease-in-out;
      width: 270px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
  }

  .movie-list-item-title {
      background-color: #333;
      padding: 0 10px;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 8%;
      left: 15px;
      opacity: 0;
      transition: 0.8s all ease-in-out;
  }

  .movie-list-item-desc {
    background-color: #333;
    color: #FFE3DE;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 28%;
    left: 15px;
    width: 230px;
    opacity: 0;
    transition: 0.8s all ease-in-out;
}

.movie-list-item-button {
    padding: 10px;
    background-color: #A3DDCB;
    color: #0a043c;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 15px;
    opacity: 0;
    transition: 0.8s all ease-in-out;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: #A3DDCB;
    opacity: 0.5;
    cursor: pointer;
}

.container.active {
    background-color: white;
}

.movie-list-item-title.active {
    color: #0a043c;
}
