
* {
    margin: 0;
  }

  .navbar {
    width: 100%;
    height: 50px;
    background-color: #0a043c;
    color: #FFE3DE;
    font-family: 'Roboto', sans-serif;
  }

  .navbar-container {
      display: flex;
      align-items: center;
      padding: 0 50px;
      height: 100%;
  }

  .logo-container {
      flex: 1;
  }

  .cinema-logo {
      height: 40px;
  }

  .menu-container {
    flex: 6;
  }

  .menu-list {
      display: flex;
      list-style: none;
  }

  .menu-list-item.active {
      font-weight: bold;
  }

  .menu-list-item {
    margin-right: 30px;
}

  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .profile-text-container {
      margin: 0 20px;
  }

  .profile-picture {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      object-fit: cover;
      border: 2px solid #FFE3DE;
  }

  .toggle {
      width: 40px;
      height: 20px;
      background-color: #FFE3DE;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
  }

  .toggle-icon {
      color: #03506f;
  }

  .toggle-ball {
      width: 18px;
      height: 18px;
      background-color: #0a043c;
      position: absolute;
      right: 1px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.5s ease-in-out;
  }

  .sidebar {
      width: 50px;
      height: 100%;
      background-color: #0a043c;
      color: #FFE3DE;
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
  }

  .left-menu-icon {  
      font-size: 20px;
      margin-bottom: 30px;
  }

    .navbar.active {
        background-color: #FFE3DE;
        color: #0a043c;
    }

    .sidebar.active {
        background-color: #FFE3DE;
        color: #0a043c;
    }

    .toggle.active {
        background-color: #0a043c;
    }

    .toggle-ball.active {
        background-color: #FFE3DE;
        transform: translateX(-20px);
    }

    .toggle-icon.active {
        color: #A3DDCB;
    }


    @media only screen and (max-width: 940px) {
        .menu-container{
            display: none;
        }
    }