/* color
#0a043c
#03506f
#A3DDCB
#FFE3DE
*/


:root {
  --back-color: #03506f;
  --main-color: #A3DDCB;
  --main-seat: #FFE3DE;
  --main-selected: #0a043c;
  --main-occupied: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: calc(100vh - 50px);
  background: var(--back-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.cinemaInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-seat);
}

.content select {
  padding: 0.3rem;
  border: 0;
  border-radius: 3px;
  outline: none;
  font-size: 1.2rem;
}

select#movie {
  margin: 0.6rem 0;
}

.content select option {
  font-size: 1.1rem;
}

label.title {
  font-size: 2.9rem;
  color: var(--main-color);
}

.seatInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--main-seat);
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.4rem 0.6rem;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  cursor: pointer;
}

.seat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--main-seat);
  height: 1.4rem;
  width: 1.5rem;
  margin: 0.2rem;
  padding: 0.2rem;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  cursor: pointer;
  perspective: 100px;
  transition: all 0.1s linear;
}

.wheelChair {
  width: 1.2rem;
  color: var(--main-color);
  margin: 0.2rem 0.35rem;
  text-align: center;
}

.seat:not(.occupied):hover {
  background: gray;
  transform: scale(1.1);
}

.seat.info:hover {
  cursor: default;
  transform: scale(1.1);
}

.seat.selected {
  background: var(--main-selected);
  color: var(--main-color);
}

.seat.occupied {
  background: var(--main-occupied);
  cursor: default;
}

.seatInfo.free {
    cursor: default;
  }

.seatInfo.occupied {
  background: var(--main-occupied);
  cursor: default;
}

.seatInfo.selected {
  background: var(--main-selected);
  cursor: default;
}

.seat:nth-of-type(2) {
  margin-right: 1rem;
}

.seat:nth-last-of-type(2) {
  margin-left: 1rem;
}

.screenArea {
  background: #f8f5cd;
  height: 100px;
  width: 100%;
  margin: 0.8rem 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  text-align: center;
}

.screenArea span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: rgba(0, 0, 0, 0.1);
}

.theater {
  margin-top: 0.4rem;
  perspective: 200px;
}

div.row {
  display: flex;
  position: relative;
  padding: 0 0.6rem;
}

div.theaterRows {
  margin-top: 2rem;
}

.rowNumb {
  font-weight: 600;
  text-decoration: none;
  opacity: 0.6;
  color: var(--main-selected);

  position: absolute;
  left: -50px;
  top: 5px;
  transition: 0.1s linear;
}

.rowNumb:hover {
  transform: scale(1.2);
  opacity: 1;
}

.checkout {
  margin: 0.6rem 0;
  color: var(--main-seat);
  display: flex;
  grid-gap: 0.5rem;
}

.checkout span.costTotal {
  color: var(--main-seat);
}

.costTotal {
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  background: var(--main-selected);
  text-align: center;
  margin-top: 0.1rem;
  padding: 0.25rem;
  border-radius: 3px;
}

.seatTotal {
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  background: var(--main-selected);
  text-align: center;
  padding: 0.25rem;
  border-radius: 3px;
}

.seatId {
  min-height: 40px;
  max-width: 150px;
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-color);
  background: var(--main-selected);
  border-radius: 3px;
}

.btnBuy {
  border: none;
  outline: none;
  width: 130px;
  padding: 0.7rem;
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s linear;
  text-align: center;
  font-size: 1.4rem;
}

.btnBuy:hover {
  color: var(--main-selected);
  background: var(--main-color);
  transform: scale(1.05);
}

.checkoutTotal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


/* MEDIA QUERY  */
@media only screen and (max-width: 768px) {

  .screenArea {
    height: 80px;
    width: 100%;
    margin: 0.2rem auto;
    transform: rotateX(-45deg);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

}